<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/16b5112f28.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/Asset/css/navbar.css">

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="~/Asset/image/logov2.png"
                         class="d-inline-block align-center" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="menu.html">Menu</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="reservation.html">Đặt bàn</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="about.html">Về chúng tôi</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="feedback.html">Phản hồi</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Login","Account")">
                                <i class="fas fa-sign-in-alt"></i> Đăng nhập
                            </a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Register","Account")">
                                <i class="far fa-user"></i> Đăng kí
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <div class="input-group dropdown-item">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-shadow"></div>
    </header>

    <div class="container body-content">
        @RenderBody()



    </div>

    <footer>
        <div class="container ">
            <div class="row padding mx-0">
                <div class="col-md-4 d-flex justify-content-center align-self-center footer-bg">
                    <ul>
                        Giờ mở cửa
                        <li>Thứ Hai - Thứ Sáu: 8:00 - 22:00</li>
                        <li>Cuối tuần: 7:00 - 23:00</li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-self-center footer-bg">
                    <ul>
                        Liên hệ
                        <li>
                            Phone: 1800-1008
                        </li>
                        <li>
                            Email: baristacoffee@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-self-center footer-bg">
                    <ul>
                        Địa chỉ
                        <li>Địa chỉ 1:...</li>
                        <li>Địa chỉ 2:...</li>
                        <li>Địa chỉ 3:...</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer-bg">
                    <hr color="white" style="width: 100%;">
                    <div class="center follow-us">
                        Theo dõi chúng tôi tại:
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <span>
                            <a href="#"><i class="fa fa-instagram" style="height: 30; width: 30;"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-shadow"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
